.chat-container {
	
}

#chat-contents {
	overflow-y: scroll;
	overflow-x: hidden;
	height: 600px;
}

#chat-flex-container {
	display: flex;
	flex-direction: column-reverse;
	justify-content: flex-end;
}

.chat-message {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	min-height: 40px;
	padding-left: 10px;
}

.slide-in-right {
	-webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	-moz-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}